# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# IDE and Editor Files
.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# Build and Dependency Files
node_modules/
target/
bin/
obj/

# Compiled Code and Binaries
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# Log Files
*.log

# Environment Files
.env
.env.*.local

# Temporary Files
*.tmp
*.swp
*.swo

# Backup Files
*.bak
*.old

# Package Manager Files
package-lock.json
yarn.lock

# Miscellaneous
*.db
*.sqlite
*.suo
*.ntvs_analysis.dat
*.njsproj
*.user
*.dll
*.exe
*.pdb
/server/server/obj
/server/server/bin
/server/server/obj
/server/database/bin
/server/database/obj
/server/server/bin
/server/server/obj
*.exe
server/database/bin/Debug/net8.0/database.deps.json
server/database/bin/Debug/net8.0/database.deps.json
server/database/bin/Debug/net8.0/database.dll
server/database/bin/Debug/net8.0/database.pdb
server/database/bin/Debug/net8.0/server.deps.json
server/database/bin/Debug/net8.0/server.dll
server/database/bin/Debug/net8.0/server.exe
server/database/bin/Debug/net8.0/server.pdb
server/database/obj/Debug/net8.0/database.AssemblyInfo.cs
server/database/obj/Debug/net8.0/database.AssemblyInfoInputs.cache
server/database/obj/Debug/net8.0/database.csproj.AssemblyReference.cache
server/database/obj/Debug/net8.0/database.csproj.CoreCompileInputs.cache
server/database/obj/Debug/net8.0/database.dll
server/database/obj/Debug/net8.0/database.pdb
server/database/obj/Debug/net8.0/ref/database.dll
server/database/obj/Debug/net8.0/refint/database.dll
server/server/bin/Debug/net8.0/Microsoft.DotNet.PlatformAbstractions.dll
server/server/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
server/server/bin/Debug/net8.0/server.deps.json
server/server/bin/Debug/net8.0/server.dll
server/server/bin/Debug/net8.0/server.exe
server/server/bin/Debug/net8.0/server.pdb
server/server/logs/server20240816.txt
server/server/obj/Debug/net8.0/apphost.exe
server/server/obj/Debug/net8.0/server.AssemblyInfo.cs
server/server/obj/Debug/net8.0/server.AssemblyInfoInputs.cache
server/server/obj/Debug/net8.0/server.csproj.CoreCompileInputs.cache
server/server/obj/Debug/net8.0/server.csproj.FileListAbsolute.txt
server/server/obj/Debug/net8.0/server.dll
server/server/obj/Debug/net8.0/server.pdb
server/server/obj/Debug/net8.0/ref/server.dll
server/server/obj/Debug/net8.0/refint/server.dll
